/*Common styles*/

html, body {
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

body {
    font-family:'Roboto','Segoe UI','Helvetica';
}

.j-header {
    height:80px;
    line-height:77px;
    width:100%;
    background:url("/images/logo.png") no-repeat scroll 10px 10px / 60px 60px #2196f3;
    color:#fff;
    font-size:30px;
    box-sizing:border-box;
    padding-left:72px;
    top:0px;
    left:0px;
}

.j-header span {
    line-height:normal;
}

.j-fixed {
    position:fixed;
}

.sitecontent {
    overflow:scroll;
    height:100%;
}