/*Common styles*/

html, body {
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

body {
    font-family:'Roboto','Segoe UI','Helvetica';
}

.j-header {
    height:80px;
    line-height:77px;
    width:100%;
    background:url("/images/logo.png") no-repeat scroll 10px 10px / 60px 60px #2196f3;
    color:#fff;
    font-size:30px;
    box-sizing:border-box;
    padding-left:72px;
    top:0px;
    left:0px;
}

.j-header span {
    line-height:normal;
}

.j-fixed {
    position:fixed;
}

.sitecontent {
    overflow:scroll;
    height:100%;
}

.newsthumbs {
    padding: 20px 0px 60px 0px;
}

.companycoverphoto {
    height:700px;
    background:url("/images/companycover.jpg") no-repeat scroll 0px 0px / cover rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 321px) {
    .companycoverphoto {
        height:200px;
        background:url("/images/companycover.jpg") no-repeat scroll -60px 0px / cover rgba(0, 0, 0, 0);
    }
}

@media only screen and (min-width: 322px) and (max-width: 481px) {
    .companycoverphoto {
        height:320px;
        background:url("/images/companycover.jpg") no-repeat scroll -60px 0px / cover rgba(0, 0, 0, 0);
    }
}

@media only screen and (min-width: 482px) and (max-width: 750px) {
    .companycoverphoto {
        height:400px;
        background:url("/images/companycover.jpg") no-repeat scroll -60px 0px / cover rgba(0, 0, 0, 0);
    }
}

@media only screen and (min-width: 751px) and (max-width: 980px) {
    .companycoverphoto {
        height:600px;
        background:url("/images/companycover.jpg") no-repeat scroll -60px 0px / cover rgba(0, 0, 0, 0);
    }
}