<div class="container-fluid">
    <div class="row companycoverphoto">
    </div>
</div>
<div class="container">
    <div class="row newsthumbs">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/defaultthumb.png">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis, risus et cursus posuere, libero risus placerat arcu, vitae gravida neque risus ut nisi. Vivamus vitae augue vel enim scelerisque porta. Integer sed consequat ligula. Mauris porttitor lobortis nibh pulvinar euismod. Vestibulum sit amet ex odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam tincidunt orci tortor, vitae interdum diam tristique quis. Praesent diam sem, scelerisque in rhoncus eget, pulvinar quis ipsum. </p>
                    <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/defaultthumb.png">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis, risus et cursus posuere, libero risus placerat arcu, vitae gravida neque risus ut nisi. Vivamus vitae augue vel enim scelerisque porta. Integer sed consequat ligula. Mauris porttitor lobortis nibh pulvinar euismod. Vestibulum sit amet ex odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam tincidunt orci tortor, vitae interdum diam tristique quis. Praesent diam sem, scelerisque in rhoncus eget, pulvinar quis ipsum. </p>
                    <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/defaultthumb.png">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis, risus et cursus posuere, libero risus placerat arcu, vitae gravida neque risus ut nisi. Vivamus vitae augue vel enim scelerisque porta. Integer sed consequat ligula. Mauris porttitor lobortis nibh pulvinar euismod. Vestibulum sit amet ex odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam tincidunt orci tortor, vitae interdum diam tristique quis. Praesent diam sem, scelerisque in rhoncus eget, pulvinar quis ipsum. </p>
                    <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/defaultthumb.png">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis, risus et cursus posuere, libero risus placerat arcu, vitae gravida neque risus ut nisi. Vivamus vitae augue vel enim scelerisque porta. Integer sed consequat ligula. Mauris porttitor lobortis nibh pulvinar euismod. Vestibulum sit amet ex odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam tincidunt orci tortor, vitae interdum diam tristique quis. Praesent diam sem, scelerisque in rhoncus eget, pulvinar quis ipsum. </p>
                    <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/defaultthumb.png">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis, risus et cursus posuere, libero risus placerat arcu, vitae gravida neque risus ut nisi. Vivamus vitae augue vel enim scelerisque porta. Integer sed consequat ligula. Mauris porttitor lobortis nibh pulvinar euismod. Vestibulum sit amet ex odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam tincidunt orci tortor, vitae interdum diam tristique quis. Praesent diam sem, scelerisque in rhoncus eget, pulvinar quis ipsum. </p>
                    <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/defaultthumb.png">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis, risus et cursus posuere, libero risus placerat arcu, vitae gravida neque risus ut nisi. Vivamus vitae augue vel enim scelerisque porta. Integer sed consequat ligula. Mauris porttitor lobortis nibh pulvinar euismod. Vestibulum sit amet ex odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam tincidunt orci tortor, vitae interdum diam tristique quis. Praesent diam sem, scelerisque in rhoncus eget, pulvinar quis ipsum. </p>
                    <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
